{erl_opts, [debug_info]}.
{deps, [ {cowboy, "2.6.0"}
       , {jiffy,  "1.0.1"}
       , {csv, {git, "https://github.com/martin-torhage/csv.git"}}
       ]}.

{shell, [
  {config, "config/dev/sys.config"},
  {apps, [coronerl]}
]}.


{relx, [{release, {"coronerl", "0.0.1"}, [coronerl]},
        {dev_mode, true},
        {vm_args, "config/dev/vm.args"},
        {sys_config, "config/dev/sys.config"},
        {include_erts, false},
        {extended_start_script, true}
]}.

{profiles, [{prod, [{erl_opts, [ debug_info ]},
                    {relx, [ {dev_mode, false}
                           , {vm_args, "config/prod/vm.args"}
                           , {sys_config, "config/prod/sys.config"}
                           , {include_erts, true}
                           , {include_src, false}
                           ]}]}]}.